// フォントサイズ
$base_font_size: 62.5%;
$global_font_size_extra-large: 1.8rem;
$global_font_size_large: 1.6rem;
$global_font_size_normal: 1.4rem;
$global_font_size_small: 1.2rem;

// メディアクエリ
$media_query_sp: 767px;
$media_query_pc: 768px;
